include ../link/link

mixin header({theme = "", jsClasses = ""} = {})
  -
    let className = theme === "" ? "" : `header_theme_${theme}`
    className = `${className} ${jsClasses}`.trim()

  header.header(class= className)
    .header__container
      a.header__logo(href="../index/index.pug")
        img.header__logo-image(src="../../images/logo.svg" alt="Отель Toxin")
      button.header__burger-button(aria-label="Показать меню")
      nav.header__navigation
        ul.header__site-navigation
          -
            const items =
            [
              {"title": "Компоненты", "theme": "bold", "link": "../components-page/components-page.pug"},
              {"title": "О нас", "link": "/mock-address/change-me"},
              {"title": "Услуги", "theme": "has-submenu", "link": "/mock-address/change-me"},
              {"title": "Вакансии", "link": "/mock-address/change-me"},
              {"title": "Новости", "link": "/mock-address/change-me"},
              {"title": "Соглашения", "theme": "has-submenu", "link": "/mock-address/change-me"}
            ]
          each item in items
            - const className = "theme" in item ? `header__item_theme_${item.theme}` : ""
            li.header__item(class= className)
              a.header__link(href= item.link)= item.title
        ul.header__user-navigation
          li.header__item
            +link({"text": "войти", "theme": "account-action"})(href="../login-page/login-page.pug" class="button_size_small")
          li.header__item
            +link({"text": "зарегистрироваться", "theme": "registration"})(href="../registration-page/registration-page.pug" class="button_size_small")
        ul.header__user-menu
          li.header__item
            a.header__link(href="/mock-address/change-me") Артём Лагунов
