extends ../../templates/template-base

block description
  meta(name="description" content="Компоненты нашего сайта. Из этих маленьких кусочков собирается большой проект")

block keywords
  meta(name="keywords" content="форма поиска номера, форма бронирования номера, кнопка с градиентом")

block title
  title Отель Toxin | Страница с компонентами проекта

block styles
  link(rel="stylesheet" href="./components-page.scss")

block content
  include ../../components/header/header
  include ../../components/footer/footer
  include ../../components/room-search/room-search
  include ../../components/room-book/room-book
  include ../../components/sign-in/sign-in
  include ../../components/sign-up/sign-up
  include ../../components/room/room
  include ../../components/testimonial/testimonial
  include ../../components/range-slider/range-slider
  include ../../components/pagination/pagination
  include ../../components/checkbox-expandable/checkbox-expandable
  include ../../components/bullet-list/bullet-list
  include ../../components/advantage/advantage
  include ../../components/calendar/calendar

  main.components-page
    h1.components-page__title.components-page__title_hidden Компоненты проекта
    article.ui-kit
      h2.ui-kit__title Цвета и шрифты
      .ui-kit__group
        ul.ui-kit__list
          -
            const colors =
            [
              {"name": "Dark shade 100%", "hex" : "#1f2041"},
              {"name": "Dark shade 75%", "hex" : "#1f2041", "theme" : "75-transparency"},
              {"name": "Dark shade 50%", "hex" : "#1f2041", "theme" : "50-transparency"},
              {"name": "Dark shade 25%", "hex" : "#1f2041", "theme" : "25-transparency"},
              {"name": "Dark shade 5%", "hex" : "#1f2041", "theme" : "5-transparency"},
              {"name": "Purple", "hex" : "#bc9cff", "theme" : "purple"},
              {"name": "Green", "hex" : "#6fcf97", "theme" : "green"}
            ]
          each color in colors
            - const className = "theme" in color ? `ui-kit__color-item_theme_${color.theme}` : ""
            li.ui-kit__color-item(class= className)
              span.ui-kit__color-item-image
              span.ui-kit__color-item-name= color.name
                span.ui-kit__color-item-hex= color.hex
        ul.ui-kit__list
          -
            const fonts =
            [
              {"name": "h1", "text": "This one is the sub-section or widget title", "theme": "h1"},
              {"name": "h2", "text": "Next one is the item title inside widgets", "theme": "h2"},
              {"name": "h3", "text": "This is a label or CTA text", "theme": "h3"},
              {"name": "body", "text": "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
            ]
          each font in fonts
            - const className = "theme" in font ? `ui-kit__font-item_theme_${font.theme}` : ""
            li.ui-kit__font-item(class= className)
              span.ui-kit__font-item-type= font.name
              span.ui-kit__font-item-example= font.text
    article.ui-kit
      h2.ui-kit__title Элементы формы
      .ui-kit__group
        ul.ui-kit__list
          li.ui-kit__text-field-item.ui-kit__text-field-item_theme_with-tip(data-tip="default")
            label.ui-kit__subtitle(for="field-1") text field
            +text-input(id="field-1" placeholder="Email")
          li.ui-kit__text-field-item.ui-kit__text-field-item_theme_with-tip(data-tip="hover / focus")
            label.ui-kit__subtitle(for="field-2") text field
            +text-input(id="field-2" value="This is pretty awesome")
          li.ui-kit__text-field-item.ui-kit__text-field-item_theme_with-tip(data-tip="default")
            label.ui-kit__subtitle(for="field-3") dropdown
            +dropdown({"id": "field-3", "placeholder": "Сколько гостей"})
          li.ui-kit__text-field-item.ui-kit__text-field-item_theme_with-tip(data-tip="default")
            label.ui-kit__subtitle(for="field-4") masked text field
            +text-input({"theme": "masked"})(id="field-4" placeholder="дд.мм.гггг")
          li.ui-kit__text-field-item
            span.ui-kit__text-field-subitem
              label.ui-kit__subtitle(for="field-5") date dropdown
              +dropdown({"id": "field-5", "placeholder": "ДД.ММ.ГГГГ"})
            span.ui-kit__text-field-subitem
              label.ui-kit__subtitle(for="field-6") date dropdown
              +dropdown({"id": "field-6", "placeholder": "19.08.2019"})
          li.ui-kit__text-field-item
            label.ui-kit__subtitle(for="field-7") filter date dropdown
            +dropdown({"id": "field-7", "value": "19 авг - 23 авг"})
          li.ui-kit__text-field-item
            label.ui-kit__subtitle(for="field-8") subscription text field
            +text-input({"theme": "newsletter", "type": "email"})(id="field-8" placeholder="Email")
        ul.ui-kit__list
          li.ui-kit__checkbox-poor-item
            b.ui-kit__subtitle checkbox buttons
            -
              const checkboxesPoor =
              [
                {"id": "field-9", "title": "Можно курить"},
                {"id": "field-10", "title": "Можно с питомцами", "checked": true},
                {"id": "field-11", "title": "Можно пригласить гостей (до 10 человек)", "checked": true}
              ]
            each checkbox in checkboxesPoor
              p.ui-kit__checkbox-poor-subitem
                +checkbox-input(checkbox)
          li.ui-kit__radio-item
            b.ui-kit__subtitle radio buttons
            -
              const radioInputs =
              [
                {"id": "field-12", "title": "Мужчина", "name": "gender", "checked": true},
                {"id": "field-13", "title": "Женщина", "name": "gender"}
              ]
            each radioInput in radioInputs
              span.ui-kit__radio-subitem
                +radio-input(radioInput)
          li.ui-kit__toggle-item
            b.ui-kit__subtitle toggle
            -
              const checkboxesToggle =
              [
                {"id": "field-14", "title": "Получать спецпредложения", "theme": "toggle", "checked": true},
                {"id": "field-15", "title": "Получать спецпредложения", "theme": "toggle"}
              ]
            each checkbox in checkboxesToggle
              p.ui-kit__toggle-subitem
                +checkbox-input(checkbox)
          li.ui-kit__button-like-item
            b.ui-kit__subtitle like button
            span.ui-kit__button-like-subitem
              +button-like({"likes": 2})
            span.ui-kit__button-like-subitem
              +button-like({"likes": 12, "theme": "liked"})
          li.ui-kit__rating-item
            b.ui-kit__subtitle rate button
            span.ui-kit__rating-subitem
              +rating({currentRating: 4})
            span.ui-kit__rating-subitem
              +rating({currentRating: 5})
        ul.ui-kit__list
          li.ui-kit__range-slider-item
            +range-slider({"id": "field-16", "title": "range slider", "description": ""})
          li.ui-kit__button-registration-item
            b.ui-kit__subtitle buttons
            span.ui-kit__button-registration-subitem
              +link({"text": "click me", "theme": "registration"})
            span.ui-kit__button-registration-subitem
              +link({"text": "click me", "theme": "registration"})
          li.ui-kit__button-account-action-item
            span.ui-kit__button-account-action-subitem
              +link({"text": "click me", "theme": "account-action"})
            span.ui-kit__button-account-action-subitem
              +link({"text": "click me", "theme": "account-action"})
          li.ui-kit__button-link-item
            span.ui-kit__button-link-subitem
              +link({"text": "click me", "theme": "bold"})
            span.ui-kit__button-link-subitem
              +link({"text": "click me", "theme": "bold"})
          li.ui-kit__button-submit-item
            +link({"text": "перейти к оплате", "theme": "submit"})
          li.ui-kit__pagination-item
            b.ui-kit__subtitle pagination
            -
              const pages =
              [
                {"number": "1", "theme": "current", "link": "mock-adress/change-me"},
                {"number": "2", "link": "mock-adress/change-me"},
                {"number": "3", "link": "mock-adress/change-me"},
                {"number": "...", "link": "mock-adress/change-me"},
                {"number": "15", "link": "mock-adress/change-me"},
                {"number": "", "theme": "next-page", "link": "mock-adress/change-me"}
              ]
            +pagination({pages, "description": "1 – 12 из 100+ вариантов аренды"})
      .ui-kit__group
        ul.ui-kit__list
          li.ui-kit__dropdown-item.ui-kit__dropdown-item_theme_with-tip(data-tip="default")
            label.ui-kit__subtitle(for="field-17") dropdown
            +dropdown({"id": "field-17", "value": "2 спальни, 2 кровати..."})
          li.ui-kit__dropdown-item.ui-kit__dropdown-item_theme_with-tip(data-tip="expanded")
            label.ui-kit__subtitle(for="field-18") dropdown
            +dropdown({"state": "expanded", "type": "comfort", "items": ["Спальни", "Кровати", "Ванные комнаты"], "id": "field-18", "value": "2 спальни, 2 кровати..."})
        p.ui-kit__dropdown-item-alone
          label.ui-kit__subtitle(for="field-19") dropdown
          +dropdown({"state": "expanded", "type": "guests", "items": ["Взрослые", "Дети", "Младенцы"], "id": "field-19", "placeholder": "Сколько гостей"})
        p.ui-kit__dropdown-item-alone
          label.ui-kit__subtitle(for="field-20") dropdown
          +dropdown({"state": "expanded", "type": "guests", "items": ["Взрослые", "Дети", "Младенцы"], "id": "field-20", "value": "3 гостя"})
      .ui-kit__group
        ul.ui-kit__list
          li.ui-kit__expandable-checkbox-item
            +checkbox-expandable({"title": "expandable checkbox list"})
          li.ui-kit__expandable-checkbox-item
            -
              const checkboxesExpandable =
              [
                {"id": "field-breakfast", "title": "Завтрак", "name": "breakfast"},
                {"id": "field-desk", "title": "Письменный стол", "name": "desk", "checked": true},
                {"id": "field-chair", "title": "Стул для кормления", "name": "chair", "checked": true},
                {"id": "field-bed", "title": "Кроватка", "name": "bed", "checked": true},
                {"id": "field-tv", "title": "Телевизор", "name": "tv"},
                {"id": "field-shampoo", "title": "Шампунь", "name": "shampoo"}
              ]
            +checkbox-expandable({"title": "expandable checkbox list", "state": "expanded", "items": checkboxesExpandable})
        p.ui-kit__checkbox-rich-item
          b.ui-kit__subtitle rich checkbox buttons
          -
            const checkboxesRich =
            [
              {"id": "field-21", "theme": "rich", "title": "Широкий коридор", "description": "Ширина коридоров в номере не менее 91 см.", "name": "wide-aisle"},
              {"id": "field-22","theme": "rich","title": "Помощник для инвалидов","description": "На 1 этаже вас встретит специалист  и проводит до номера.", "name": "helper"}
            ]
          each checkbox in checkboxesRich
            span.ui-kit__checkbox-rich-subitem
              +checkbox-input(checkbox)
        .ui-kit__bullet-list-item
          b.ui-kit__subtitle bullet list
          +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
      .ui-kit__group
        ul.ui-kit__list
          -
            const advantages =
            [
              {"theme": "comfort","title": "Комфорт","description": "Шумопоглощающие стены"},
              {"theme": "convenience","title": "Удобство","description": "Окно в каждой из спален"}
            ]
          each advantage in advantages
            li.ui-kit__advantage-item
              +advantage(advantage)
        .ui-kit__testimonial-item
          +testimonial({"image": "../../components/testimonial/images/testimonial-1.jpg","author": "Мурад Сарафанов","date": "5 дней назад","text": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей","likes": 12})
    article.ui-kit.ui-kit_theme_light
      h2.ui-kit__title Карточки
      .ui-kit__cards-wrapper
        .ui-kit__cards-group
          .ui-kit__room-search-item
            +room-search
          .ui-kit__sign-up-item
            +sign-up
        .ui-kit__cards-group
          .ui-kit__room-book-item
            +room-book
          .ui-kit__sign-in-item
            +sign-in
        .ui-kit__cards-group
          .ui-kit__calendar-item
            .datepicker-here
          .ui-kit__room-item
            -
              const rooms =
              [
                {"image": "../rooms-page/images/room-1.jpg","alt": "Роскошный номер на одного с большой кроватью","number": 888,"lux": true,"price": "9 990₽","rating": 5,"testimonials": 145},
                {"image": "../rooms-page/images//room-2.jpg","alt": "Просторный номер на троих с тремя кроватями","number": 840,"lux": false,"price": "9 990₽","rating": 4,"testimonials": 65}
              ]
            each room in rooms
              .ui-kit__room-subitem
                +room(room)
    article.ui-kit.ui-kit_theme_light
      h2.ui-kit__title Хедеры и футеры
      -
        const headers =
        [
          {},
          {"theme": "logged"},
        ]
      each header in headers
        .ui-kit__headers-footers-item
          +header(header)
      -
        const footers =
        [
          {"theme": ""},
          {"theme": "poor"},
        ]
      each footer in footers
        .ui-kit__headers-footers-item
          +footer(footer)


  script(src="./components-page.js")
