extends ../../templates/template-base

block description
  meta(name="description" content="Компоненты нашего сайта. Из этих маленьких кусочков собирается большой проект")

block keywords
  meta(name="keywords" content="форма поиска номера, форма бронирования номера, кнопка с градиентом")

block title
  title Отель Toxin | Страница с компонентами проекта

block styles
  link(rel="stylesheet" href="./components-page.scss")

block content
  include ../../components/header/header
  include ../../components/footer/footer
  include ../../components/room-search/room-search
  include ../../components/room-book/room-book
  include ../../components/sign-in/sign-in
  include ../../components/sign-up/sign-up
  include ../../components/room/room
  include ../../components/testimonial/testimonial
  include ../../components/range-slider/range-slider
  include ../../components/pagination/pagination
  include ../../components/checkbox-expandable/checkbox-expandable
  include ../../components/bullet-list/bullet-list
  include ../../components/advantage/advantage
  include ../../components/calendar/calendar

  main.components-page
    h1.components-page__title.components-page__title_hidden Компоненты проекта
    article.ui-kit
      h2.ui-kit__title Цвета и шрифты
      .colors-fonts
        .colors-fonts__colors
          -
            const colors =
            [
              {"name": "Dark shade 100%", "hex" : "#1f2041"},
              {"name": "Dark shade 75%", "hex" : "#1f2041", "theme" : "75-transparency"},
              {"name": "Dark shade 50%", "hex" : "#1f2041", "theme" : "50-transparency"},
              {"name": "Dark shade 25%", "hex" : "#1f2041", "theme" : "25-transparency"},
              {"name": "Dark shade 5%", "hex" : "#1f2041", "theme" : "5-transparency"},
              {"name": "Purple", "hex" : "#bc9cff", "theme" : "purple"},
              {"name": "Green", "hex" : "#6fcf97", "theme" : "green"}
            ]
          each color in colors
            - const className = "theme" in color ? `colors-fonts__color_theme_${color.theme}` : ""
            p.colors-fonts__color(class= className)
              span.colors-fonts__color-image
              span.colors-fonts__color-name= color.name
                span.colors-fonts__color-hex= color.hex
        .colors-fonts__fonts
          -
            const fonts =
            [
              {"name": "h1", "text": "This one is the sub-section or widget title", "theme": "h1"},
              {"name": "h2", "text": "Next one is the item title inside widgets", "theme": "h2"},
              {"name": "h3", "text": "This is a label or CTA text", "theme": "h3"},
              {"name": "body", "text": "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
            ]
          each font in fonts
            - const className = "theme" in font ? `colors-fonts__font_theme_${font.theme}` : ""
            p.colors-fonts__font(class= className)
              span.colors-fonts__font-type= font.name
              span.colors-fonts__font-example= font.text
    article.ui-kit
      h2.ui-kit__title Элементы формы
      .form-elements
        .form-elements__group
          .text-fields
            p.text-fields__group.text-fields__group_theme_with-tip(data-tip="default")
              label.text-fields__title(for="field-1") text field
              +text-input(id="field-1" placeholder="Email")
            p.text-fields__group.text-fields__group_theme_with-tip(data-tip="hover / focus")
              label.text-fields__title(for="field-2") text field
              +text-input(id="field-2" value="This is pretty awesome")
            p.text-fields__group.text-fields__group_theme_with-tip(data-tip="default")
              label.text-fields__title(for="field-3") dropdown
              +dropdown({"id": "field-3", "placeholder": "Сколько гостей"})
            p.text-fields__group.text-fields__group_theme_with-tip(data-tip="default")
              label.text-fields__title(for="field-4") masked text field
              +text-input({"theme": "masked"})(id="field-4" placeholder="дд.мм.гггг")
            p.text-fields__group
              span.text-fields__item
                label.text-fields__title(for="field-5") date dropdown
                +dropdown({"id": "field-5", "placeholder": "ДД.ММ.ГГГГ"})
              span.text-fields__item
                label.text-fields__title(for="field-6") date dropdown
                +dropdown({"id": "field-6", "placeholder": "19.08.2019"})
            p.text-fields__group
              label.text-fields__title(for="field-7") filter date dropdown
              +dropdown({"id": "field-7", "value": "19 авг - 23 авг"})
            p.text-fields__group
              label.text-fields__title(for="field-8") subscription text field
              +text-input({"theme": "newsletter", "type": "email"})(id="field-8" placeholder="Email")
          .buttons
            .buttons__group
              .buttons__subgroup
                b.buttons__title checkbox buttons
                -
                  const checkboxesPoor =
                  [
                    {"id": "field-9", "title": "Можно курить"},
                    {"id": "field-10", "title": "Можно с питомцами", "checked": true},
                    {"id": "field-11", "title": "Можно пригласить гостей (до 10 человек)", "checked": true}
                  ]
                each checkbox in checkboxesPoor
                  .checkbox-poor
                    +checkbox-input(checkbox)
              .buttons__subgroup
                b.buttons__title radio buttons
                -
                  const radioInputss =
                  [
                    {"id": "field-12", "title": "Мужчина", "name": "gender", "checked": true},
                    {"id": "field-13", "title": "Женщина", "name": "gender"}
                  ]
                each radioInputs in radioInputss
                  span.radio
                    +radio-input(radioInputs)
              .buttons__subgroup
                b.buttons__title toggle
                -
                  const checkboxesToggle =
                  [
                    {"id": "field-14", "title": "Получать спецпредложения", "theme": "toggle", "checked": true},
                    {"id": "field-15", "title": "Получать спецпредложения", "theme": "toggle"}
                  ]
                each checkbox in checkboxesToggle
                  .checkbox-toggle
                    +checkbox-input(checkbox)
              .buttons__subgroup
                b.buttons__title like button
                span.buttons__group-like
                  +button-like({"likes": 2})
                span.buttons__group-like
                  +button-like({"likes": 12, "theme": "liked"})
              .buttons__subgroup
                b.buttons__title rate button
                span.rating-item
                  +rating(4)
                span.rating-item
                  +rating(5)
            .buttons__group
                .buttons__subgroup
                  +range-slider({"id": "field-16", "title": "range slider", "description": ""})
                .buttons__subgroup
                  b.buttons__title buttons
                  span.button-registration
                    +link({"text": "click me", "theme": "registration"})
                  span.button-registration
                    +link({"text": "click me", "theme": "registration"})
                .buttons__subgroup
                  span.button-account-action
                    +link({"text": "click me", "theme": "account-action"})
                  span.button-account-action
                    +link({"text": "click me", "theme": "account-action"})
                .buttons__subgroup
                  span.button-link
                    +link({"text": "click me", "theme": "bold"})
                  span.button-link
                    +link({"text": "click me", "theme": "bold"})
                .buttons__subgroup
                  +link({"text": "перейти к оплате", "theme": "submit"})
                .buttons__subgroup
                  b.buttons__title pagination
                  -
                    const pages =
                    [
                      {"number": "1", "theme": "current", "link": "mock-adress/change-me"},
                      {"number": "2", "link": "mock-adress/change-me"},
                      {"number": "3", "link": "mock-adress/change-me"},
                      {"number": "...", "link": "mock-adress/change-me"},
                      {"number": "15", "link": "mock-adress/change-me"},
                      {"number": "", "theme": "next-page", "link": "mock-adress/change-me"}
                    ]
                  +pagination({pages, "description": "1 – 12 из 100+ вариантов аренды"})
        .form-elements__group
          .dropdowns
            .dropdowns__group
              span.dropdowns__item.dropdowns__item_theme_with-tip(data-tip="default")
                label.dropdowns__title(for="field-17") dropdown
                +dropdown({"id": "field-17", "value": "2 спальни, 2 кровати..."})
              span.dropdowns__item.dropdowns__item_theme_with-tip(data-tip="expanded")
                label.dropdowns__title(for="field-18") dropdown
                +dropdown({"state": "expanded", "type": "comfort", "items": ["Спальни", "Кровати", "Ванные комнаты"], "id": "field-18", "value": "2 спальни, 2 кровати..."})
            .dropdowns__group
              span.dropdowns__item
                label.dropdowns__title(for="field-19") dropdown
                +dropdown({"state": "expanded", "type": "guests", "items": ["Взрослые", "Дети", "Младенцы"], "id": "field-19", "placeholder": "Сколько гостей"})
            .dropdowns__group
              span.dropdowns__item
                label.dropdowns__title(for="field-20") dropdown
                +dropdown({"state": "expanded", "type": "guests", "items": ["Взрослые", "Дети", "Младенцы"], "id": "field-20", "value": "3 гостя"})
        .form-elements__group
          .exapndable-checkbox
            .exapndable-checkbox__item
              +checkbox-expandable({"title": "expandable checkbox list"})
            .exapndable-checkbox__item
              -
                const checkboxesExpandable =
                [
                  {"id": "field-breakfast", "title": "Завтрак", "name": "breakfast"},
                  {"id": "field-desk", "title": "Письменный стол", "name": "desk", "checked": true},
                  {"id": "field-chair", "title": "Стул для кормления", "name": "chair", "checked": true},
                  {"id": "field-bed", "title": "Кроватка", "name": "bed", "checked": true},
                  {"id": "field-tv", "title": "Телевизор", "name": "tv"},
                  {"id": "field-shampoo", "title": "Шампунь", "name": "shampoo"}
                ]
              +checkbox-expandable({"title": "expandable checkbox list", "state": "expanded", "items": checkboxesExpandable})
          .checkbox-rich
            b.checkbox-rich__title rich checkbox buttons
            -
              const checkboxesRich =
              [
                {"id": "field-21", "theme": "rich", "title": "Широкий коридор", "description": "Ширина коридоров в номере не менее 91 см.", "name": "wide-aisle"},
                {"id": "field-22","theme": "rich","title": "Помощник для инвалидов","description": "На 1 этаже вас встретит специалист  и проводит до номера.", "name": "helper"}
              ]
            each checkbox in checkboxesRich
              .checkbox-rich__group
                +checkbox-input(checkbox)
          .bullet
            b.bullet__title bullet list
            .bullet__list
              +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
        .form-elements__group
          .advantages
            -
              const advantages =
              [
                {"theme": "comfort","title": "Комфорт","description": "Шумопоглощающие стены"},
                {"theme": "convenience","title": "Удобство","description": "Окно в каждой из спален"}
              ]
            each advantage in advantages
              .advantages__group
                +advantage(advantage)
          .testimonials
            +testimonial({"image": "../../components/testimonial/images/testimonial-1.jpg","author": "Мурад Сарафанов","date": "5 дней назад","text": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей","likes": 12})
    article.ui-kit.ui-kit_theme_light
      h2.ui-kit__title Карточки
      .cards
        .cards__group
          .cards__room-search
            +room-search
          .cards__sign-up
            +sign-up
        .cards__group
          .cards__room-book
            +room-book
          .cards__sign-in
            +sign-in
        .cards__group
          .cards__calendar
            .datepicker-here
          .cards__rooms
            -
              const rooms =
              [
                {"image": "../rooms-page/images/room-1.jpg","alt": "Роскошный номер на одного с большой кроватью","number": 888,"lux": true,"price": "9 990₽","rating": 5,"testimonials": 145},
                {"image": "../rooms-page/images//room-2.jpg","alt": "Просторный номер на троих с тремя кроватями","number": 840,"lux": false,"price": "9 990₽","rating": 4,"testimonials": 65}
              ]
            each room in rooms
              .cards__room
                +room(room)
    article.ui-kit.ui-kit_theme_light
      h2.ui-kit__title Хедеры и футеры
      .headers-footers
        -
          const headers =
          [
            {},
            {"theme": "logged"},
          ]
        each header in headers
          .headers-footers__group
            +header(header)
        -
          const footers =
          [
            {"theme": ""},
            {"theme": "poor"},
          ]
        each footer in footers
          .headers-footers__group
            +footer(footer)


  script(src="./components-page.js")
