mixin room({image, alt, number, lux, price, rating, testimonials})
  div.room
    div.room__container
      img.room__img(src=image width="271" height="152" alt=alt)
      p.room__slider-buttons
        button.room__slider-button.room__slider-button_active(type="button")
        button.room__slider-button(type="button")
        button.room__slider-button(type="button")
        button.room__slider-button(type="button")
      p.room__slider-arrows
        button.room__slider-arrow.room__slider-arrow_prev(type="button")
        button.room__slider-arrow.room__slider-arrow_next(type="button")
    div.room__info
      p.room__info-top
        span.room__number
          span №
          span= " " + number + " "
          if lux
            span Люкс
          else
            span
        span.room__price= price + " " 
          span в сутки
      p.room__info-bottom
        +rating(rating)
        span.room__testimonials= testimonials + " " 
          span Отзывов