mixin testimonial({image, author, date, text, likes})
  p.testimonial
    span.testimonial__top-part
      img.testimonial__img(src=image width="44" height="44" alt=author)
      span
        b.testimonial__name= author
        span.testimonial__date= date
    span.testimonial__bottom-part
      span
        +button-with-like(likes, "button")
      span.testimonial__text= text